@import "../../../styles/function";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.container{
    @include gridWidth();
    background: $color-white;
    margin: auto;
    margin-top: 6%;
  }

  .secondcontainer{
    display: grid;
    grid-template-columns: auto auto;

  }

  .firstsection{
    display: grid;
    grid-template-columns: auto auto;
  }

  .descriptionsection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .secondsection p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }